@{
    ViewBag.Title = "Home Page";
}

<div class="wrapper bgded overlay" style="background-image:url('../../Content/Images/demo/backgrounds/silverquill-campus.jpg')">
    <div id="pageintro" class="hoc clear">
        <article class="introtxt">
            <p>The University of Silverquill</p>
            <h2 class="heading">One of the Strixhaven Universities</h2>
            <p>The Orzhav university. Primarily focused in lifegain and reanimation</p>
        </article>
    </div>
</div>
<div class="wrapper row3">
    <main class="hoc container clear">
        <div class="group">
            <div class="one_third first">
            </div>
            <div class="two_third blocks">
                <div class="group">
                    <article class="one_half first btmspace-20">
                        <a href="#">
                            <img src="~/Content/Images/MagicSymbols/orzhov.png" />
                            <h3 class="heading">The sun represents white, and the skull represents black</h3>
                        </a>
                     </article>
                </div>
            </div>
        </div>
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>
<div class="wrapper row3">
    <section class="hoc container clear center">
        <!-- ################################################################################################ -->
        <i class="fa fa-4x fa-tripadvisor btmspace-50"></i>
        <h6 class="heading font-x3">Efficitur nec vitae tincidunt</h6>
        <p class="nospace">Pharetra ante felis feugiat augue suscipit suscipit lectus nisi id eros nullam rhoncus pellentesque enim vestibulum sodales elit sit amet vestibulum faucibus mauris ultricies porta ultricies vestibulum ac nibh sit amet nulla porttitor.</p>
        <!-- ################################################################################################ -->
    </section>
</div>
<div class="wrapper row3">
    <div id="testimonials" class="hoc container clear">
        <!-- ################################################################################################ -->
        <ul class="nospace group">
            <li class="one_half first">
                <blockquote>This University, is great. With their help I was able to bring my dead grandfather back to life-ish.</blockquote>
                <figure class="clear">
                    <img src="~/Content/Images/MagicSymbols/liliana.jpg" alt="">
                    <figcaption>
                        <strong>Liliana</strong><br>
                    </figcaption>
                </figure>
            </li>
            <li class="one_half">
                <blockquote>This University helped me get to about 400 hit points. Overall, a great time.</blockquote>
                <figure class="clear">
                    <img src="~/Content/Images/MagicSymbols/ajani (1).jpg" alt="">
                    <figcaption>
                        <strong>Ajani</strong><br>
                    </figcaption>
                </figure>
            </li>
        </ul>
        <!-- ################################################################################################ -->
    </div>
</div>